# Local server values
PORT=5500
HOST='localhost'
NODE_ENV='development'
DATABASE_URL=''
SESSION_SECRET=""
# Type "node", press "Enter".
# Type "require('crypto').randomBytes(64).toString('hex')", press "Enter".
ACCESS_TOKEN_SECRET=